.fa {
	min-width: 20px;
	text-align: center;
}
p.helper {
	padding: 15px;
}
.header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('http://i.imgur.com/pG7KSR9.jpg');
	background-position: bottom;
	background-size: cover;
	margin-bottom: 20px;
}
.thumbnails {
	text-align: center;
}
.thumbnail-container {
  margin-bottom: 10px;
  width: 25%;
  float: left;
  padding: 5px;
}
.img-thumbnail {
  width: 350px !important;
  height: 233px !important;
  max-width: 100%;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer {
	background-color: #f5f5f5;
	padding: 20px;
	margin-top: 50px;
}
.front-page-menu {
	margin-bottom: 20px;
}
.drag-and-drop {
	border: 1px dashed #ccc;
	width: 100%;
	padding: 50px;
	border-radius: 4px;
}
.has-error .drag-and-drop {
	border-color: #a94442;
}
.drag-and-drop:hover {
	background-color: #f9f9f9;
}
.image-preview {
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 4px;
	padding: 5px;
}
.image-preview .trash {

}
.image-preview img{
	width: 100%;
	margin-bottom: 5px;
}
.image {
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
}